.jumbotron-fluid {
  height: 400px !important;
}
.card-img-top {
  height: 400px !important;
  object-fit: cover;
}

#surf {
  height: 400px !important;
  object-fit: cover;
}

/* Footer social media links */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
  box-shadow: 0px 1px 2px rgba(13, 168, 7, 0.925),    
  0px 2px 4px rgba(13, 168, 7, 0.925), 
  0px 4px 8px rgba(13, 168, 7, 0.925), 
  0px 8px 16px rgba(13, 168, 7, 0.925);
}



.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
